<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"  th:href="@{/adminlte/dist/css/adminlte.css}">
<div class="container" style="font-size: 12px;">
    <div class="text-justify">
        <div class="text-center">
            <label class="text-bold">SOLICITUD DE EMISIÓN DE CERTIFICADOS DE APORTACIÓN</label>
        </div>
        <br>
        <p>Yo, con cédula de identidad N° <span th:text="${dni}"></span>, por medio de la presente me permito dirigirme a Ustedes, y de la manera más comedida solicitarle se dignen ACEPTARME en calidad de SOCIO de la COOPERATIVA DE AHORRO Y CREDITO "15 DE ABRIL", para lo cual estoy presto a suscribir los certificados de aportación que correspondan.</p>
        <p>Declaro expresamente que de ser aprobada favorablemente mi solicitud y admitido como SOCIO de ésta digna Institución, ACEPTO Y ME COMPROMETO a cumplir estrictamente con lo determinado en la Ley Orgánica de Economía Popular y Solidaria, su Reglamento, el Estatuto Social de la Cooperativa, sus normas internas determinadas por la Asamblea y el Consejo de Administración, así como demás leyes que rigen a las Cooperativas en el Ecuador.</p>
    </div>
</div>
</html>