body {
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	color:#514c4c;
	line-height:1.9em;
	font-weight:400;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}


.form-control:focus {
	border-color: #f7b432;
	-ms-box-shadow: 0 0 0 0 rgb(153, 119, 42);
	outline: 0;
}

.custom-select:focus {
	border-color: #f7b432;
	-ms-box-shadow: 0 0 0 0 rgb(153, 119, 42);
	outline: 0;
}
.barra {
	width: 100%;
	height: 80%;
	position:relative;
}

.nav-tabs .nav-link {
	border: 1px solid #0000;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.nav-link {
	display: block;
	padding: .5rem 1rem;
}
a {
	color: #218838;
	text-decoration: none;
	background-color: #0000;
}

.nav-link:focus, .nav-link:hover {
	text-decoration: none;
}
a:hover {
	color: #f7b432;
	text-decoration: none;
}

.btn-link{
	color: #28a745;
}

.btn-link:hover{
	color: #218838;
	text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #f7b432;
	background-color: #fff;
	border: 2px solid;
	border-color: #218838 #dee2e6 #fff;
}


.select2-container--bootstrap4.select2-container--focus .select2-selection {
	border-color: #f7b432;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.custom-select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

legend {
	font-size: 1rem;
}
